{% extends 'MvcBlogBundle::admin.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Edit Post</h1>
    </div>
    <p><a href="{{ path('posts_admin_index') }}" class="btn btn-primary">< Back to posts</a></p>

    <div style="height:800px;">{{ iframe_uploader(post) }}</div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.name,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.slug,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.user,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_row(form.content,{'attr':{'class':'form-control','rows':6,'cols':30}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.tags,{'attr':{'class':'form-control'}}) }}

        {% for tag in post.getTags %}
           {% if tag %}

               <span class="label label-primary" style="display:inline-block;">
               {{ tag.name }}

               {% for tr in tag.getTagRelation %}

                   <a href="{{ path('mykees_delete_relation',{'relation_id':tr.id}) }}" class="delTag" style="color:#FFF;">[x]
                   </a>

               {% endfor %}

               </span>
           {% endif %}
        {% endfor %}
    </div>


    <input type="submit" class="btn btn-primary" value="Envoyer">

    {{ form_end(form) }}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ javascript() }}
{% endblock %}