{% extends 'MvcBlogBundle::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Blog</h1>
        <p class="lead">Welcome on my blog</p>
    </div>

    {% for post in posts %}
       <article class="posts">
       	<h2><a href="{{ path('mvc_blog_show',{'slug':post.slug,'id':post.id}) }}">{{ post.name }}</a></h2>
        <p><small>Category : <a href="#">{{ post.category ? post.category.name : 'misc' }}</a>, by <a href="#">{{ post.user ? post.user.username : 'anonyme'}}</a> on <em>{{ post.createdAt|date('Y-m-d') }}</em></small></p>
       </article>
    {% endfor %}

    {{ paginator.paginate(posts) }}
{% endblock %}